

<p><strong>Name: </strong><%= @albums['name'] %></p>
<p><strong>Year: </strong><%= @albums['year'] %></p>
<p><strong>Label: </strong><%= @albums['label'] %></p>
<p><strong>US Sales: </strong><%= @albums['us_sales'] %></p>
<img src="<%= @albums['image_url'] %>">
