<h2><%= @bands['name'] %></h2>

<a href="/bands/<%= @bands['id'] %>/edit">Edit</a>

<p><strong>Genre: </strong><%= @bands['genre'] %></p>
<p><strong>Number of Albums: </strong><%= @bands['albums'] %></p>
<p><strong>Active: </strong><%= @bands['active'] %></p>
<img src="<%= @bands['image_url'] %>">

<!-- genre, albums, active -->
