<h2><%= @oneplace['place'] %></h2>





<p><strong>Country: </strong> <%= @oneplace['country'] %></p>
<p><strong>Visited or not: </strong> <%= @oneplace['visited'] %></p>
<p><strong>When visited / to visit :</strong> <%= @oneplace['visit_time'] %></p>

<a href="/places/<%= @oneplace['id']%>/edit"> Update Info of This Place</a>

<a href="/places/<%= @oneplace['id']%>/delete"> Delete This Place</a>


<hr>

<h3><em>I bet you'll love this place too!!! </em></h3>

<img src="<%= @oneplace['image_url'] %>">
