
<h2>Edit Business</h2>

<form action="/businesses/<%= @business['id'] %>" method="post">

<!-- POST vs GET despite 'businesses' being the same -->
<!-- Value will mean that previous values will remain if the user does not update that field -->

<label>
  Business Name: <input type="text" name="business_name" value="<%= @business['business_name'] %>">
</label><br>

<label>
  Has Website?: <input type="text" name="has_website" value="<%= @business['has_website'] %>" >
</label><br>

<label>
  Suburb: <input type="text" name="suburb" value="<%= @business['suburb'] %>">
</label><br>

<label>
  Postcode: <input type="text" name="postcode" value="<%= @business['postcode'] %>" >
</label><br>

<label>
  Street Address: <input type="text" name="street_address" value="<%= @business['street_address'] %>">
</label><br>

<label>
  Business Type: <input type="text" name="business_type" value="<%= @business['business_type'] %>">
</label><br>

<label>
  Owner: <input type="text" name="owner" value="<%= @business['owner'] %>">
</label><br>

<label>
  Landline Number: <input type="text" name="landline_number" value="<%= @business['landline_number'] %>">
</label><br>

<label>
  Mobile Number: <input type="text" name="mobile_number" value="<%= @business['mobile_number'] %>">
</label><br>

<label>
  Email: <input type="text" name="email" value="<%= @business['email'] %>">
</label><br>

<label>
  Storefront Image URL: <input type="text" name="storefront_image_url" value="<%= @business['storefront_image_url'] %>">
</label><br>

<label>
  Date Added: <input type="text" name="date_added" value="<%= @business['date_added'] %>">
</label><br>

<input type="submit" value="Update Business">

</form>
