<h1><%=  @company.name %></h1>

<%= link_to 'Edit Company Details', company_edit_path(@company.id) %>

<p><strong>Headquarters: </strong><%= @company.headquarters %></p>
<p><strong>Trading As: </strong><%= @company.traded_as %></p>
<p><strong>Founded: </strong><%= @company.founded.year %></p>
<p><strong>Revenue: </strong>$US <%= @company.revenue %> Billion (2018)</p>

<%= image_tag @company.image, alt: @company.image, class: 'company-picture'  %>
